@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }

  #hamburger-nav {
    display: flex;
  }
}

/* i dont know why first media not work properly, so i add another for hide hamburger nav in width < 1200 */
@media screen and (min-width: 1200px) {
  #hamburger-nav {
    display: none;
  }
}
