@media screen and (max-width: 768px) {
  #desktop-nav {
    display: none;
  }

  #hamburger-nav {
    display: flex;
  }

  h2 {
    font-size: 2rem;
  }

  .text-section {
    display: block;
    text-align: center;
    padding-block: 50px;
  }

  .text-desc {
    margin-bottom: 20px;
  }

  .text-img-container {
    margin-top: 20px;
  }

  .form h2,
  h3 {
    margin: 15px auto;
  }

  .product-item {
    margin: 15px;
  }

  .quote {
    text-align: center;
  }
  .contact-section {
    text-align: center;
  }

  .contact-info {
    display: block;
  }

  .map {
    margin-top: 20px;
  }
}

@media screen and (max-width: 425px) {
  .up-btn {
    left: 85%;
  }

  .quote {
    font-size: 1.5rem;
  }

  .author-img-container {
    width: 90px;
    height: 70px;
  }

  .order-tab {
    display: block;
    text-align: center;
  }

  .order-text {
    margin: 20px auto;
  }

  .order-tab button {
    margin: 10px auto;
  }

  .fa-xmark {
    font-size: 1.5rem;
    cursor: pointer;
  }

  .form {
    width: 300px;
    height: 300px;
    margin: 20px;
    text-align: center;
  }

  .btn-close-form {
    margin-bottom: 20px;
  }

  /* .map iframe {
    width: 300px;
    min-height: 10rem;
  } */
}
